@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-lato);

  /* Colors */
  --color-carrara: #f8f8f5;
  --color-cherryWood: #5f1528;
  --color-codGray: #181818;
  --color-cosmic: #753564;
  --color-finn: #522546;
  --color-laser: #cbb26a;
  --color-mineShaft: #333;
  --color-quillGray: #e0e0db;
  --color-straw: #d8c690;
  --color-tamarind: #2f1528;
  --color-tussok: #be9e44;
  --color-white: #fff;

  /* Font sizes */
  --text-6xl: 4.25rem; /* 68px */
  --text-4xl: 3.25rem; /* 52px */

  /* containers */
  --container-8xl: 1536px;
}

@layer base {
  body {
    background: #fff;
    color: #000;
    font-family: var(--font-lato);
  }

  h1,
  h2 {
    font-weight: 700;
  }
}

@layer components {
  h1 {
    font-size: var(--text-6xl);
  }
  h2 {
    font-size: var(--text-4xl);
  }
}
